* {
  margin: 0;
  padding: 0;
}

/* =================================================================*/
/*navbar*/
.NavContainer {
  position: relative;
  width: auto;
  height: 45px;
  background-color: rgb(41, 39, 39);
  display: flex;
  justify-content: flex-start;
}

.navElements a {
  text-decoration: none;
  padding: 40px;
  color: aliceblue;
}

.navElements {
  padding-top: 9px;
  position: absolute;
}

.bag {
  text-decoration: none;
  padding: 40px;
  color: white;
  margin-top: -30px;
  font-size: 21px;
}

.bagContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* =================================================================*/
/*account page*/
.accountContainer {
  width: 100%;
  background-color: rgb(227, 227, 227);
  display: flex;
  justify-content: center;
  height: 100vh;
  position: auto;
 
}

.centerfocus {
  margin-top: 2%;
  width: 35%;
  background-color: aliceblue;
  box-shadow: 1px 0px 20px rgb(168, 168, 168);
  padding-bottom: 6%;
  max-height: 400px;
  border-radius: 10px;
}

.signInText {
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-top: 80px;
  color: #363535;
}

.emailContainer {
  display: flex;
  justify-content: center;
}

.signinEmail {
  height: 25px;
  width: 50%;
  border: hidden;
  border-bottom: solid rgb(126, 124, 124) 1px;
  margin: 20px;
  background-color: transparent;
  padding-left: 10px;

}


.signinEmail::placeholder {
  color: gray;
}

.passwordContainer {
  display: flex;
  justify-content: center;
}

.signinPassword {
  height: 25px;
  width: 50%;
  border: hidden;
  border-bottom: solid rgb(126, 124, 124) 1px;
  margin: 20px;
  background-color: transparent;
  padding-left: 10px;
}


.signinPassword::placeholder {
  color: gray;

}

.signInButtonContainer {
  display: flex;
  justify-content: center;
}

.signinButton {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 60%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(163, 244, 163);
  font-size: 20px;
  color: #383838;
  font-weight: 500;

}

.newAccount {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.createAccountButton {
  margin-right: 25%;
  text-decoration: none;
  color: #383838;
}

.forgotPasswordButton {
  text-decoration: none;
  color: #383838;

}
.resultContainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.result{
  color: rgb(194, 2, 2);
}


/* =================================================================*/
/*new account page */

.createAccountModal {
  position: absolute;
  z-index: 4;
  margin-top: 2%;
  width: 35%;
  height: 442px;
  background-color: aliceblue;
  box-shadow: 1px 0px 20px rgb(168, 168, 168);
  height: 472px;
  background-color: aliceblue;

}

/* =================================================================*/
/*password recovery page*/

.forgotPasswordModal {
  position: absolute;
  z-index: 5;
  margin-top: 2%;
  width: 35%;
  height: 472px;
  background-color: aliceblue;
  height: 442px;
  box-shadow: 1px 0px 20px rgb(168, 168, 168);

}


/* =================================================================*/
/*Cart*/
.cart-container {
  text-align: center;
  vertical-align: middle;

  width: 50em;
  height: 100%;
  margin: 5em auto;
  padding-bottom: 2em;

  background-color: lightgray;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.cart-title {
  padding-top: .5em;
  padding-bottom: .25em;
  font-size: 2em;
  font-weight: bold;

}

.cart-tab {
  background-color: blueviolet;
  width: 10em;
  height: 0.15em;
  margin: auto
}

.item1 {
  max-width: 45em;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
  margin-left: 2.5em;
  margin-top: 1em;
  display: flex;
  border-radius: .5em;
}

.product-image {
  background-size: 12em;
  max-width: 12em;
  margin-left: .5em;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25em;
}

.product-contents {
  margin: 1em;
  max-width: 16em;
  width: 100%;
  text-align: left;

}

.product-name {
  font-size: large;
  margin-bottom: 1em;
}

.product-color {
  color: gray;
  margin-bottom: 1em;
}

.product-size {
  color: gray;
  margin-bottom: 1em;
}

.product-price-quantity {
  max-width: 16.5em;
  width: 100%;
  margin: 1em;
  font-size: medium;
  text-align: right;
}

.product-price {
  margin-bottom: 1em;
}

/* =================================================================*/
/*Home*/
.categoryContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category {
  border: solid 2px #363535;
  padding: 50px 70px 20px;
  margin: 2% 5%;
  border-radius: 10px;
  transition: background-color .5s, padding .5s, font-size .5s, color .5s;
}

.category:hover {
  background-color: red;
  padding: 20px 70px 50px;
  font-size: 20px;
  color: white;
}


.shoe_background {
  background-color: black;
  min-height: 600px;
  min-height: 500px;

}

canvas {
  margin-top: 100px;
  height: 500px;
}

.logoContainer {
  text-align: center;
}



.logoContainer h1 {
  color: red;
  font-size: 180px;
  margin-bottom: -20px;
  letter-spacing: 10px;
}

.logoContainer h3 {
  font-size: 80px;
}

.slogan {
  margin-top: 20px;
  font-size: 20px;
}


/* =================================================================*/
/*Shop*/
.shopContainer {
  display: flex;
}

.sidebarContainer {
  /*holds sidebar*/
  width: 15%;
  background-color: red;
  display: flex;
  justify-content: center;
}

.mainPanelContainer {
  /*contains all shoe panels and slideshow panel*/
  width: 90%;
  height: auto;
  background-color: #383838;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.sidebar {
  width: 80%;
  background-color: aliceblue;
  text-align: center;
}

.panel {
  /*slideshow*/
  width: 80%;
  height: 100px;
  background-color: rgb(227, 227, 227);
  margin: 40px 20px;
  padding: 100px;
  text-align: center;
  border-radius: 7px;
}

.row {
  /*holds upto 3 shoe images*/
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;

}

.item {
  /*holds shoe image */
  width: 35%;
  height: 90%;
  background-color: rgb(227, 227, 227);
  margin: 20px;
  border-radius: 7px;
}

.item:hover .panelRise {
  height: 25%;
  color: #383838;

}


.panelRise {
  color: rgb(227, 227, 227);
  width: auto;
  height: 0px;
  background-color: aquamarine;
  border-radius: 7px;
  transition: height 1s;
  align-content: center;
  padding-left: 15px;
  padding-top: 10px;

}

.name {
  transition: color 1s;
}

.price {
  transition: color 1s;
}

.sizes {
  transition: color 1s;
}

.addToCartBtn {
  border: none;
  background-color: transparent;
  width: 120px;
  font-size: 30px;
  transition: color .7s;
  position: absolute;
  margin-top: -50px;
  margin-left: 455px;
  color: transparent;
}

.mens {
  font-size: 120px;
  overflow: hidden;
}

